<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_aplikasi_majelismdpl"
        android:label="Majelis MDPL"
        android:roundIcon="@drawable/icon_mdpl"
        android:supportsRtl="true"
        android:theme="@style/Theme.Majelis_MDPL"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Activity -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Verification Activity (OTP) -->
        <activity
            android:name=".activities.VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity (Dashboard) -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Edit Profile Activity -->
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- OAuth Callback Activity -->
        <activity
            android:name=".activities.OAuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="majelismdpl"
                    android:host="oauth" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="intent" />
            </intent-filter>

        </activity>

        <!-- Detail Trip Activity -->
        <activity
            android:name=".activities.DetailTripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Peserta Trip Activity -->
        <activity
            android:name=".activities.PesertaTripActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <!-- Meeting Point Activity -->
        <activity
            android:name=".activities.MeetingPointActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Peserta Activity -->
        <activity
            android:name=".activities.PesertaActivity"
            android:exported="false" />

        <!-- Dokumentasi Activity -->
        <activity
            android:name=".activities.DokumentasiActivity"
            android:exported="false" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>
